:root {
    --fs-300: 0.9375rem;
    --fs-400: 1.0625rem;
    --fs-500: 1.375rem;
    --fs-550: 1.25rem;
    --fs-600: 1.875rem;
    --fs-700: 2rem;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    --clr-primary-600: hsl(340, 100%, 21%);
    --clr-primary-500: hsl(332, 98%, 33%);
    --clr-primary-400: hsl(328, 92%, 47%);
    --clr-primary-300: hsl(327, 88%, 68%);
    --clr-primary-200: hsl(310, 100%, 82%);
    --clr-primary-100: hsl(310, 100%, 97%);

    --clr-comp-100: hsl(0, 0%, 100%);
    --clr-comp-900: #000000;
}

* {
    margin: 0;

    font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-primary-300);
}

h1 {
    font-size: var(--fs-600);
}

h2 {
    font-size: var(--fs-500);
}

h3, h4, h5, h6 {
    font-size: var(--fs-400);
}

ul, ol {
    margin: 0;
    padding: 0;
}

input {
    width: 200px;
    height: 20px;

    border: solid 1px var(--clr-primary-300);
    border-radius: 5px;
}

button {
    background-color: var(--clr-comp-100);
    color: var(--clr-comp-900);

    border: solid 1px var(--clr-primary-300);
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    box-shadow: 0 0 3px 3px var(--clr-primary-200);
}

table {
    border: 1px solid var(--clr-primary-300);
    padding: 0.5rem;

    width: 50%;
}

table th {
    text-align: center;
    background-color: var(--clr-primary-200);
    color: black;

    cursor: pointer;
}
table th:hover {
    background-color: var(--clr-primary-300);

    cursor: pointer;
}

table td {
    text-align: center;

    padding: 0.1rem;
    width: fit-content;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 25px;

    width: 95%;
    margin: 1rem auto 1rem;
    padding: 10px;

    text-align: center;
    background-color: var(--clr-primary-100);
    border: solid 1px var(--clr-primary-300);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

#info-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%); 

    height: 25%;

    overflow: auto;
}

#room-container, #game-master, #show-users-button, #next-button {
    display: none;
}

#room-container {
    gap: 20px;
}

#username-input {
    margin-bottom: 20px;
}